* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    overflow-x: hidden;
    background-color: #1e1e1e;
    color: #fff;
}
article {
    padding: 1rem;
}
section.parallax {
    background-image: url(/assets/img/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 2rem;
}
header {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    height: 50vh;
    text-transform: uppercase;
    font-weight: bold;
}
h1 {
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 30px;
    margin-bottom: 32px;
}
header p {
    width: 400px;
}
main {
    width: 50vw;
    margin: 0 auto;
    margin-top: -200px;
}
p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
h4 {
    margin: 0 0 16px 0;
}